
.navbar {
    /* position: sticky; */
    top: 0;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    background-color: rgb(30, 20, 70);
    border: 2px solid aqua;
    
  }

  .ambImg{
    width: 250px;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.726);
    box-shadow: 10px 10px 10px lightblue;
  }

  .bookDetails{
    margin-top: 100px;
  }

  .about{
    color: rgb(190, 2, 2);
  }

  a{
    text-decoration: none;
    color: black;
  }

 
  .price{
    margin-top: 30px;
    color: red;
  }

  .rate{
    color: rgb(106, 106, 106);
  }

  .orginalPrice{
    margin-left: 10px;
    color: black;
  }

  .stock{
    color: rgb(40, 80, 70);
  }


  .checked {
    color: orange;
  }

  .uncheked{
    color: white;
  }

  .addcard{
    color: antiquewhite;
    font-size: 30px;
  }

  .about{
    position: relative;
    font-size: 20px;
    
  }

  .aboutBook {
    position: relative;
    top: 80px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 50px;
   color: darkgreen;
}

.bookDtails{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color:antiquewhite ;
}
.order{
  margin-top: 150px;
  color: rgb(255, 255, 255);
  background-color: rgb(240, 26, 26);
  width: 400px;
  height: 60px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-family: fantasy;
  box-shadow: 10px 10px 20px rgb(45, 45, 45);
  font-size: 23px;
  text-align: center;
}
.order1{
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(248, 23, 23);
  width: 400px;
  height: 60px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(101, 101, 101);
  font-family: fantasy;
  font-size: 23px;
  text-align: center;
}
.orderfont{
  font-size: 20px;
  margin-right: 20px;
}
.button:hover{
  background-color: rgb(255, 0, 0);
border: 3px solid rgb(150, 150, 150);
box-shadow: 10px 10px 30px rgb(255, 255, 255);
}
.user{
  color: aliceblue;
  margin-right: 20px;
}
.heart{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 20px;
  color: aliceblue;
}
.heart1{
  color: rgb(255, 0, 43);
  font-size: 18px;
 position: relative;
  top: 1px;
}
.myorders{
  color: white;
}

