
h1{
    color: rgb(24,110,230);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    font-family: 'Roboto',sans-serif;
}
#p{
    height: 100px;
    width: 100px;
}
button{
    width: 80px;
    height: 80px;
    margin: auto;
}
#label{
    margin-top: 3px;
    font-size: 10px;
}
#signup{
    font-size: 30px;
}
#login{
    font-family: inherit;
    color: azure;
    background-color: blueviolet;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    width: 280px;
    margin-top: 15px;
}
#email{
font-size: 20px;
padding: 13px 15px;
width: 200px;
margin-top: 18px;
}
#pwd{
font-size: 20px;
padding: 13px 15px;
width: 200px;
margin-top: 18px;

}
a:link{
    color: rgb(24,110,230);
}
form{
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(109,115, 113);
    padding: 0 0 10px 0;
    margin: auto;
    text-align: center;
    
}
a:visited{
    color: green;
}
