table{
width: 400px;
height: 200px;
margin: auto;
border-spacing: 20px;
border-collapse: collapse;
}
tr,td,th{
border:1px solid black;
padding:20px;}
.amount{
    text-align: right;
}
thead{
background-color: cadetblue

}
tfoot{
    background-color: antiquewhite;
}
tbody{
    background-color: aqua;
}
#os{
    background-color: green;
}
#abc{
    background-color: brown;
}
tr:nth-child(even)
{
    background-color: bisque;
}