body{
    background-color: green;
}

.para{
    background-color: blue;
    padding:10px;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
}

. layout div{
  border: 1px solid black; 
  background-color: burlywood;
  font-size: 32px;
  justify-content: center;
  display: flex;
align-items: center;
}

. layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "h h h h" "sb1 m m sb2" "f f f f";
}
.header{
    grid-area: h;
}
.footer{
    grid-area: f;
}
.sb_1{
    grid-area: sb1;
}
.sb_2{
    grid-area: sb2;
}
.main{
    grid-area: m;
}




