.card {
    box-shadow: 0 4px 8px 0 #ffffff;
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid aqua;
  }

  
  .price {
    color: red;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #189d01;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  a{
    text-decoration: none !important;
  }
.card{
    margin-top: 20px;
}



.navbar {
    /* position: sticky; */
    top: 0;
    box-shadow: 5px 5px 20px #ffffff;
    background-color:rgb(170, 1, 139);
    border: 2px solid aqua;
  }

.addcard{
    font-size: 25px;
    color: rgb(5, 70, 0);
}

.addcard:hover{
  color: #515151;
}

body{
    background-color:olivedrab;
}


.cardimage{
  height: 200px;
  width: 200px;
}

