#p1{

background-color: blue;
}
#p2{
background-color: palegreen;
}
#p3{
background-color: yellow;
}
@media(min-width:700px)
{
 .container p{
    width: 30%;
    float:left;
    padding: 10px;
    margin: 5px;

 }
}
@media print{
    body{
        background-color: palevioletred;
    }
}