.text{

    font-size: 6.7rem;
    font-family: kanit,sans-serif;
    text-transform: uppercase;
    color: green;
    -webkit-text-stroke: 2px var(--shadow-color,#282828);
    letter-spacing: 3px;
    transform: scale(0.5);
    -webkit-animation: stagger 2.5s  steps(25) alternate infinite;
    animation: stagger 2.5s steps(25) alternate infinite;
}