@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
   
    background-image: url("124540-web_design-tech-information-technology-blue-3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: 500%;
   
}
@media screen and (max-width:480px) {
    body{
        background-image: url("124540-web_design-tech-information-technology-blue-3840x2400.jpg");
        background-repeat: no-repeat;
        background-size: 250%;
    }
   

}
h1,h2{
    
position: relative;
animation-name: example;
animation-duration: 3s;  
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes example {
from {top: 0px;}
to {top: 10px; background-color: transparent;
}
}

/* @keyframes ic {
    from {top: 50%;}
    to {top: 30px; background-color: transparent; 
} */
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px grey;
    font-family:monospace;
    z-index: 10;
    background: #000;
}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    border-bottom: 1px solid blue;
}
section{
    width: 100%;
    min-height: 100vh;
}
#home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(234, 229, 224);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#home .container-fluid{
    margin-top: 80px;
    margin-left: 50px;
}
#home a{
    display: inline;
}
#home h3{
    position: absolute;
    margin-top: 250px;
/*    
    left: 29%;
    margin-right: 30%; */
    font-size: 60px;
    opacity: 0;
    animation: text 3s ease-in-out;
    animation-iteration-count: infinite;
    
}
#home h3:nth-child(1){
    animation-delay: 0s;
}



#home h3{
    color: rgba(214, 36, 161, 0.863);

}
h3{
    position: absolute;
    margin-top: 35px !important;
    /* margin-top: 30px; */
    /* margin-left: -130px; */
    font-size: 29px !important;
    }



#home .container{
    margin-top: 40%;
}
#home a{
    padding: 15px;
    margin-top: 45px;

}
#home .container{
    margin-top: 45%;
}
.icon-container{
   display: flex;
   justify-content: flex-start;
    margin-top: 120px !important;
   
}
.icons {
 
    margin-top: 20vh;
    margin-left: 10px;
    font-size: 200px;
    display: -ms-inline-grid;
    column-gap: 5fr;
    grid-template-columns: auto;
    }
    
@keyframes text {
    50%{
        opacity:1 ;
    }
}
@media screen and (max-width:480px){
    
    
    #home h3{
        font-size: 40px;
        margin-top: 25%;
        left: 10%;
    }
    .icons{
        /* margin-top: -135px; */
      margin-bottom: -550px;
        margin-left: 70%;
       display: grid;
        font-size: x-large;
        margin-top: -20%;
        
    }
    #home h3  {
        font-size: 30px !important;
        /* margin-left: 190px; */
      }
   #home h1,h2{
    
        position: relative;
        animation-name: example;
        animation-duration: 3s;  
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        font-size: 24px;
        margin-left: -10px;
        }
        @keyframes example {
        from {top: 0px;}
        to {top: 5px; background-color: transparent;
        }
        }
   
    }

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 50, 65);
}
#about .card-header {
background-color: #000 !important;
}
#about .card-body{
    background-color: rgb(202, 184, 66) ;
}


@media screen and (max-width:480px){
    
    #about img{
        width: 160px;
        height: 160px;
        margin-top: -100px;
        /* margin-left:-290px; */
        margin-left: -190px;
    }
   
    #about h4{
        margin-top: 20%;
        margin-left: 40%;
        text-shadow: 2px 2px 3px red;
        
    }
    #about .card{
        margin-top: -15%;
    }
     #about .card-body{
    background-color: rgb(23, 80, 167);
    
        font-size: 24px;
        color: #0f0f0f;
        font-size: 20px;
        text-shadow: 1px 1px 1px #911313;
        text-align: justify;
    
        
     }
     #about .card-header{
        background-color: rgb(41, 40, 40) !important;
     }
     .card-body:hover{
        box-shadow: 8px 8px 15px rgba(251, 243, 4, 0.4);
    }
    .card:hover{
        box-shadow: 8px 8px 15px rgba(0,0,0,.4);
        transition: .2s;
        
    }
}
    
    

#skills{
    padding-top: 5%;
    background: #b470bd;
}
#skills h1{
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 3px 4px white;
    margin-top: 50px;
}
#skills .container{
    margin-top: 6%;
    margin-bottom: 6%;
    animation-name: example1;
    animation: blinking 1.5s infinite;
    animation-duration: 3s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 26px;
    }
    @keyframes example1 {
    from {left: 0px;}
    to {right: 30px; background-color: transparent;
    }
  }
  @keyframes blinking {
    0%{
        color: red;
    }
    47%{
       color: #000; 
    }
    70%{
        color: red;
    }
    100%{
        font-style: normal;
        color: crimson;
    }
}

label{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-style: oblique;
    text-shadow: 5px 3px 6px transparent ;
    font-weight: bolder;
}
.progress{
    height: 30px !important;
    box-shadow: 2px 4px 5px gray , -2px -2px 5px white;
}
.progress:hover{
    box-shadow: 2px 4px 5px white , -2px -2px 5px gray;

}

#experience{
    padding-top: 5%;
    background-color:rgb(241, 137, 158)
}
#experience h1{
    margin-top: 30px;
    text-shadow: 2px 3px 4px white;
}
.card{
    margin-top: 10%;
    
}
.card-header{
    background-color: rgb(93, 93, 188) !important;
    color: aliceblue !important;
    font-size: 33px;
}
.card-header:hover{
    box-shadow: 8px 8px 15px rgba(16, 16, 16, 0.4);
   
}
.card-body{
    background-color: blanchedalmond;
    font-size: 23px;
}
.card-body:hover{
    box-shadow: 8px 8px 15px rgba(251, 243, 4, 0.4);
}
.card:hover{
    box-shadow: 8px 8px 15px rgba(0,0,0,.4);
    transition: .2s;
    
}


@media screen and (max-width:480px){
    #skills label{
        font-size: 18px;
    }
    #skills .text-center{
        margin-top: 15%;
    }
    #experience .container text-center{
        margin-top: 30%;
    } 
    .card-header {
        margin-top: 0px;
    }
    .card-body{
        margin-top: 0px;
        display: inline-block;
        font-size: 18px;
    }
    #experience h1{
        margin-top: 60px;
        font-size: 35px;
        transform: translateY(50px);
        animation: heading;
        font-weight: bolder;
        text-shadow: 1px 1px 1px white;
    }
    #experience .display-4{
        margin-top: -50px;
    }
    .card{
        margin-top: 60px;
    }
    
}

#contact{
    padding: 7%;
    background-color:rgb(162, 246, 159) ;
}
#contact iframe{
    box-shadow: 15px 20px 10px rgba(241, 230, 230, 0.4);
}

@media screen and (max-width:480px){
    .display-4{
        margin-top: 40%;
    }
   #skills .text-center{
    margin-top: 15%;
   }
   #skills h1{
    font-size: 30px;
    margin-top: -30px;
   }
    #skills label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-style: oblique;
    text-shadow: 5px 3px 6px transparent ;
    font-weight: bolder;
  }
   #contact form{
    margin-top: 26%;
    
   }
   #contact input{
    box-shadow: 4px 3px 1px black;
   }
   #contact .form-control{
    box-shadow: 2px 3px 1px black;
   }
 
   #contact iframe{
    width: 200px;
    height: 110px;
    margin-top:43%;;
   }
   #contact label{
    font-size: 20px;
   }
   #contact button{
    margin-top: 20px;
    margin-left: 90px;
    font-size: larger;
   }
   

}


.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#7a8c97;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:30%;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:justify;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  } 